<div class="container">

<% @books.each do |book| %>
  <div class="book-container">
    <h2 class="book"><%= book[:name] %></h2>

    <div class="chapters no-select">
      <% book[:chapters].keys.in_groups_of(@chapters_per_row, false) do |chapter_row| %>
      <div class="chapter-row">
      <% chapter_row.each do |number| 
        %><div class="chapter">
            <div class="chapter-number"><span class="progress"></span><%= number %></div>
            <div class="verses" data-verses="<%= book[:chapters][number].length %>">
              <% book[:chapters][number].each_with_index do |read, index| %><div class="verse-number <%= 'read' if read %>"><%= index+1 %></div><% end %>
            </div>
          </div><%
      end %>
      </div>
      <% end %>
    </div>
  </div>
<% end %>

</div>